# MAT388E HOMEWORK 1

ALPARSLAN SATIR

090200748

# TASK-1

DATA DESCRIPTION:

--amsterdam_weekdays.csv dataset provides information on Airbnb prices in Amsterdam on weekdays, including room type, cleanliness rating, guest satisfaction score, number of bedrooms, and distance from the city centre.

In [13]:
#Firstly, we need to import our dataset using pandas library.
import pandas as pd
data = pd.read_csv('abalone.csv' , index_col = 0)
data

,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
Sex,,,,,,,,
M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500,15
M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,7
F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100,9
M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550,10
I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,7
...,...,...,...,...,...,...,...,...
F,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,11
M,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,10
M,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,9
F,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,10
M,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,12

In [14]:
#And, we can describe our dataset here..
data.describe()

,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
count,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000
mean,0.523992,0.407881,0.139516,0.828742,0.359367,0.180594,0.238831,9.933684
std,0.120093,0.099240,0.041827,0.490389,0.221963,0.109614,0.139203,3.224169
min,0.075000,0.055000,0.000000,0.002000,0.001000,0.000500,0.001500,1.000000
25%,0.450000,0.350000,0.115000,0.441500,0.186000,0.093500,0.130000,8.000000
50%,0.545000,0.425000,0.140000,0.799500,0.336000,0.171000,0.234000,9.000000
75%,0.615000,0.480000,0.165000,1.153000,0.502000,0.253000,0.329000,11.000000
max,0.815000,0.650000,1.130000,2.825500,1.488000,0.760000,1.005000,29.000000

MULTICOLLINETARY CHECK: 

To check for possible multicollinearity problems in the dataset and remedy this problem if it exists, we can follow these steps:

-- Calculate the correlation matrix

-- Identify highly correlated variables

-- Remediate multicollinearity

In [15]:
import numpy as np

# Calculate the correlation matrix
corr_matrix = data.corr()

# Identify highly correlated variables
high_corr = np.where(np.abs(corr_matrix) > 0.8)
high_corr = [(corr_matrix.iloc[i, j], corr_matrix.columns[i], corr_matrix.columns[j])
             for i, j in zip(*high_corr) if i != j]

# Print highly correlated variables
print("Highly correlated variables:")
for corr, var1, var2 in high_corr:
    print(f"{var1} and {var2}: {corr}")

Highly correlated variables:
Length and Diameter: 0.9868115846025
Length and Height: 0.8275536093192142
Length and Whole weight: 0.9252611721489467
Length and Shucked weight: 0.8979136582496655
Length and Viscera weight: 0.9030176990077563
Length and Shell weight: 0.8977055691879205
Diameter and Length: 0.9868115846025
Diameter and Height: 0.8336836879586538
Diameter and Whole weight: 0.9254521015071313
Diameter and Shucked weight: 0.8931624751432796
Diameter and Viscera weight: 0.8997244291071196
Diameter and Shell weight: 0.905329781213082
Height and Length: 0.8275536093192142
Height and Diameter: 0.8336836879586538
Height and Whole weight: 0.8192207728553582
Height and Shell weight: 0.8173380147032083
Whole weight and Length: 0.9252611721489467
Whole weight and Diameter: 0.9254521015071313
Whole weight and Height: 0.8192207728553582
Whole weight and Shucked weight: 0.969405456703434
Whole weight and Viscera weight: 0.9663750782730317
Whole weight and Shell weight: 0.9553554421763288
Shucked weight and Length: 0.8979136582496655
Shucked weight and Diameter: 0.8931624751432796
Shucked weight and Whole weight: 0.969405456703434
Shucked weight and Viscera weight: 0.9319613217425567
Shucked weight and Shell weight: 0.88261706017464
Viscera weight and Length: 0.9030176990077563
Viscera weight and Diameter: 0.8997244291071196
Viscera weight and Whole weight: 0.9663750782730317
Viscera weight and Shucked weight: 0.9319613217425567
Viscera weight and Shell weight: 0.9076563206965705
Shell weight and Length: 0.8977055691879205
Shell weight and Diameter: 0.905329781213082
Shell weight and Height: 0.8173380147032083
Shell weight and Whole weight: 0.9553554421763288
Shell weight and Shucked weight: 0.88261706017464
Shell weight and Viscera weight: 0.9076563206965705

FEATURE SELECTION: 

Feature selection algorithms can help us identify the most important features in a dataset and select the best subset of features for a machine learning model. 

Correlation-based Feature Selection (CFS): This algorithm measures the correlation between each feature and the target variable, as well as the correlation between each feature and other features. It then selects the subset of features that have high correlation with the target variable and low correlation with each other.

In [16]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

# Separate the features and the target variable
X = data.drop('Rings', axis=1)
y = data['Rings']

# Apply feature selection using CFS
cfs = SelectKBest(chi2, k=5)
cfs.fit_transform(X, y)

# Get the indices of the selected features
selected_indices = cfs.get_support(indices=True)

# Get the names of the selected features
selected_features = X.columns[selected_indices]

# Print the selected features
print(selected_features)

Index(['Length', 'Whole weight', 'Shucked weight', 'Viscera weight',
       'Shell weight'],
      dtype='object')

CONCLUSION: 

I prefer The Correlation-based Feature Selection (CFS) algorithm. This is a popular feature selection technique in machine learning that selects a subset of features that have a high correlation with the target variable, but low correlation with each other. CFS is useful because it can help reduce overfitting and improve the performance of the model by selecting only the most relevant features.

Here are some of the advantages of using CFS algorithm:

1- Reduces the risk of overfitting: CFS algorithm can reduce the risk of overfitting in the model. Overfitting occurs when the model is too complex and fits the training data too closely.

2- Improve model performance: CFS algorithm can improve the performance of the model by removing irrelevant features and noise from the dataset. This can lead to better generalization of the model to new data and improved accuracy.

3- Considers correlations between features: CFS algorithm takes into account the correlations betweem features when selecting the best subset of features. This is important because highly correlated features can lead to multicollinearity which can cause problems of some machine learning algorithm.

4- Works well with large datasets: CFS algorithm can handle large datasets efficiently and effectively. It is also computationally inexpensive compared to some other feature selecting algorithms.

Finally, the CFS algorithm is a useful tool for selecting the most important features in a dataset and can help improve the performance of the machine learning model.

# TASK-2

DATA PRE-PROCESSING , AUTHOR = ALPARSLAN SATIR , DATE : MARCH 22,2023

DATA DESCRIPTION:

StudentsPerformance.csv dataset contains informations about students' performance in high school in Portugal. 

The dataset includes 30 features including numerical, ordinal and nominal variables.

The dataset is commonly used for regression analysis to predict the final grade of a student based on their demographic and academic informations.

In [52]:
#Firstly, we need to import our libraries that we will use to read csv data set..
import pandas as pd
import numpy as np

#Then, we will import our data set here..
dataset = pd.read_csv('StudentsPerformance.csv' )
dataset

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [18]:
#In this Python script, we will describe our data set..
dataset.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [19]:
# Check if there are any missing values in the dataset
print(dataset.isnull().sum())

race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

So, as we can see, there are no missing values in this data set. We can randomly delete a small portion of one of the variables to create some missing values.

I want to delete 5% of the 'math score' variable.

In [20]:
# Randomly delete 5% of values in the 'math score' variable
mask = np.random.rand(len(dataset)) < 0.05
dataset.loc[mask, 'math score'] = np.nan

print(dataset.isnull().sum())

race/ethnicity                  0
parental level of education     0
lunch                           0
test preparation course         0
math score                     41
reading score                   0
writing score                   0
dtype: int64

PIPELINE DESIGN:

To design a machine learning pipeline that scales the numerical features, encodes the nominal and ordinal features, and imputes the missing values, we can use scikit-learn which is a popular Python library for machine learning. So, let us create our pipeline with StudensPerformance dataset here...

In [55]:
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OrdinalEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer

# split the dataframe into features (X) and target (y)
X = dataset.drop('writing score', axis=1)
y = dataset['writing score']

# define the columns with numerical features
num_features = ['math score', 'reading score']

# define the columns with nominal features
nom_features = ['gender', 'race/ethnicity', 'lunch']

# define the columns with ordinal features
ord_features = ['parental level of education', 'test preparation course']

# create a pipeline to preprocess the data
preprocessor = ColumnTransformer(
    transformers=[
        ('num', StandardScaler(), num_features),
        ('nom', OneHotEncoder(), nom_features),
        ('ord', OrdinalEncoder(), ord_features)
    ])

# create a pipeline to impute missing values
imputer = SimpleImputer(strategy='median')

# create a final pipeline that combines the preprocessor and imputer
pipeline = Pipeline(steps=[('preprocessor', preprocessor), ('imputer', imputer)])

# fit the pipeline on the training data
pipeline.fit(X)

# transform the data using the pipeline
X_transformed = pipeline.transform(X)

print(X_transformed)

[[ 0.39002351  0.19399858  1.         ...  1.          1.
   1.        ]
 [ 0.19207553  1.42747598  1.         ...  1.          4.
   0.        ]
 [ 1.57771141  1.77010859  1.         ...  1.          3.
   1.        ]
 ...
 [-0.46775108  0.12547206  1.         ...  0.          2.
   0.        ]
 [ 0.12609287  0.60515772  1.         ...  1.          4.
   0.        ]
 [ 0.71993682  1.15336989  1.         ...  0.          4.
   1.        ]]

PIPELINE RESULTS:

The pipeline created in this task is a good example of how to preprocess and impute missing values in a dataset with different types of features. The pipeline uses 'StandardScaler()' to scale the numerical features, 'OneHotEncoder()' to encode the nominal features, and 'OrdinalEncoder()' to encode the ordinal features. It also uses 'SimpleImputer()' to impute missing values in the dataset. By combining these preprocessing and imputation steps into a single pipeline, it becomes easier to apply the same transformations to a new data and integrate the pipeline into a larger machine learning workflow.